.body{
    margin: 0;
    padding: 0;
}
nav{
    background-color: white;
    color: #2C3E50;
}
.head{
    margin-top: 40%;
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
}
.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}
.alt{
    background-color: rgb(149,28,227);
}