body{
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  padding-top: 160px;
  height: 500px;
 
}
.text-dark:hover{
  color: #2937f0 !important;
}

.nav-item:hover{
  color: #9f1ae2;
}
.navbar-toggler{
  cursor: pointer; 
  margin-top: 2%;
  border-color: black;
}
.navbar-brand{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
}
#boot{
  font-family: "Newsreader", -apple-system, BlinkMacSystemFont, "Segoe UI",Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji","Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;

}
#boot1{
 font-family: "Mulish", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji !important;

}
section{
  padding-top: 80px;
  padding-bottom: 80px;
}
#imag{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.display-2{
  font-size: 65px;
}
.h2{
  font-size: 38px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;

}
.circle{
  background-color: #8D1FE4;
  height: 350px;
  width: 350px;
  border-radius: 50%;
  justify-content: center;
  top:50%;
  left: 50%;
}
.iphone-div{
  margin-bottom: 150px;
  margin-top: 200px; 
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.circles{
  color: #8D1FE4;
  right: 20%;
  bottom: 150px;
  font-size: 15px;

}
.x{
  color: #8D1FE4;
  position: absolute;
  top: 150px;
  left: 20%;
}
.iphone{
  height: 500px;
}
.img{
  left: -14.9%; 
  margin-top:45px; 
  top: 2.9%;
}
.iphone{
  border-radius: 50%; 
  width: 205px; 
  height: 590px; 
  margin-left: 2px; 
  left: 20px;
}
.sec{
  margin-top: 12%;
}
.name{
  background-color: #8D1FE4;
  padding-top: 100px;
  padding-bottom: 80px;
}
.iphone1-div{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-bottom: 450px;
}
.circler{
  top: 250px;
  left:20%;
  background-color: #8D1FE4;
  height: 280px;
  width: 280px;
  border-radius: 50%;
}
.xmark{
  font-weight: bold;
  font-size: 25px;
  left: 330px;
  top: 0px;
  color: #8D1FE4;
}
.circles1{
  color: #8D1FE4;
  top: 400px;
  left: -10%;  
}
.img1{
  left: -14.6%;
  margin-top: -10px; 
  top: 5.6%; 
  padding-bottom: 4px;
}
.iphoner{
  left: 17%;
  top:0;
}
.iphone1{
  height: 30rem; 
  margin-top: 20px; 
  width: 210px;
}
.bg-gradient-primary-to-secondary {
  background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}
.mobile,.camera,.gift,.check{
  color: #9f1ae2;
  font-size: 70px;
  font-weight: 100;
}
.display-4{
  font-family: 'Times New Roman', Times, serif;
}
.tec{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
}
.foot{
  padding: 240px 20px;
  background-position: center;
  background-size: cover;
  background-color:  rgb(127,127,127);
  font-family: 'Times New Roman', Times, serif;
}

.app-badge{
  height: 48px;
}
.modal-header{
  background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}
.btn2{
  text-decoration: none;
}
.btn2:hover{
  text-decoration: underline;
}

@media screen and (max-width:430px) {
.circle{
  display: none;
}
.iphoner1{
  margin-top: 10%;
}
#phone5{
  margin-bottom: 5%;
}
#phone3{
  margin-left:-18px ;
}
.display-4{
  font-size: 20px;
}
.sec{
  margin-top: 25%;
}
.nav{
  width: 320px;
  margin: 0px;
}
.circles{
  display: none;
}
.xma{
 display: none;
}
.circles1{
  display: none;
}
.xmark{
  display: none;
}
.circler{
  display: none;
}
}
@media screen and (min-width:374px) and (max-width:426px) {
#phone3{
  margin-left: 18px;
}
.navbar{
  padding: 20px;
}
.navbar-toggler{
  margin-right: 10px;
  margin-left: 9%;
  padding: 8px;
}
.btn{

width: 240px;
padding: 15px;
}
.navbar-brand{
  margin-left: 10%;
}
.display-2{
  font-size: 55px;
}
.h2{
  font-size: 39px;
}
.display-4{
  font-size: 42px;
}
.text-muted{
  font-size: 20px;
}
.iphoner{
  left: 15%;
}
.iphoner1{
  margin-right: 10%;
}
.display-2{
  margin-right: -70px;
}
.display-4{
  font-size: 39px;
  margin-left: 12px;
}
.lead{
  font-size: 25px;
  margin-left: 12px;
}
.img-fluid{
  margin-left: 10%;
}
.display-1{
  font-size: 55px;
  font-weight: bold;
}
.btn{
  padding: 15px;
  width: 230px;
}
.tex{
  font-size: 30px;
}
.head{
  margin-left: 3%;
}
.lead, .app-badge, .down, .foot, .all, .feat{
  width: 120%;
}
.app1{
  margin-right: 10%;
}
.mid{
  margin-left: 13%;
}
.sec{
  width: 120%;
}
.device{
  width: 120%;
}

}
@media screen and (min-width:427px) and (max-width:768px) {
#phone3{
  margin-left: 48px;
}
.phones{
  width: 60%;
  left: auto;
}
.sec{
  margin-top: 20%;
}
.xmark{
  margin-left: 30%;
}
.circler{
  top: 250px;
  left: 78%;
  background-color: #8D1FE4;
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.iphoner{
  margin-left: 20%;
}
}
@media (max-width: 320px) {
  .navbar-toggler{
    margin-bottom: 5%;
    margin-right: 80px;
    margin-left: 9%;
    padding: 8px;
  }
  .navbar-brand{
    margin-left: 10%;
  }
  .display-2{
    margin-right: -70px;
    font-size: 55px;
  }
  .display-4{
    font-size: 40px;
    margin-left: 10%;
  }
  .img-fluid{
    margin-left: 10%;
  }
 .lead{
    font-size: 30px;
    margin-left: 10%;
  }
  .display-1{
    font-size: 60px;
    font-weight: bold;
  }
  .btn{
    font-size: 22px;
    width: 240px;
    padding: 15px;
  }
  .tex{
    font-size: 32px;
  }
  .all{
    font-size: 22px;
  }
  .head{
    margin-left: 3%;
  }
  .lead, .app-badge, .down, .foot, .all, .feat{
    width: 130%;
  }  
  .iphoner{
    margin-left: 6%;
  }
  .app1{
    margin-right: 20%;
  }
  .mid{
    margin-left: 13%;
  }
  .sec{
    width: 130%;
    margin-top: 40%;
  }
  .device{
    width: 130%;
  }
}

